<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<%= form_tag('/uploads', multipart: true) do %>
   <label for="file">Choose a file to upload:</label>
   <%= file_field_tag 'file' %>
   <%= submit_tag "Upload File" %>
<% end %>

<button id="clear-database-button" class="logout-button">Clear Database</button>


<div id="modal-container" class="modal-container" style="display: none;">
  <div id="confirmation-modal" class="modal-content">
    <img src="<%= asset_path('warning.png') %>" alt="Warning Icon" class="warning-icon">
    <p class="warning-text">Warning: This action cannot be undone!</p>
    <button id="confirm-yes">Delete Database</button>
    <button id="confirm-no">Cancel</button>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="<%= asset_path('modal.css') %>">
<%= javascript_include_tag 'modal' %>
